:root{
  --masmavi:#2f6df6;
}

body{
  margin:0;
  font-family:'Raleway', sans-serif;
  color:#111;
  background:white;
}

/* HEADER */
.header{
  text-align:center;
  padding:40px 20px 10px;
  border-bottom:1px solid #eee;
}

.logo{
  font-family:'Playfair Display', serif;
  font-size:32px;
  letter-spacing:6px;
  margin-bottom:20px;
}

.menu{
  display:flex;
  justify-content:center;
  gap:50px;
  padding-bottom:15px;
}

.menu a{
  text-decoration:none;
  color:#111;
  font-size:13px;
  letter-spacing:3px;
  text-transform:uppercase;
  transition:.3s;
}

.menu a:hover{
  color:var(--masmavi);
}

/* HERO */
.hero{
  height:80vh;
  background:url('bilder/hero.jpg') center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-inner{
  background:rgba(255,255,255,0.85);
  padding:40px 60px;
}

.hero h1{
  font-family:'Playfair Display', serif;
  letter-spacing:5px;
  margin-bottom:10px;
}

.hero p{
  letter-spacing:3px;
  font-size:13px;
  text-transform:uppercase;
}

/* SECTIONS */
.section{
  padding:100px 10%;
  text-align:center;
}

.section h2{
  font-family:'Playfair Display', serif;
  letter-spacing:4px;
  margin-bottom:60px;
}

.light{
  background:#fafafa;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr); /* genau 4 Bilder */
  gap:22px;
}

@media (max-width: 1000px){
  .grid{ grid-template-columns:repeat(2,1fr); }
}

@media (max-width: 600px){
  .grid{ grid-template-columns:1fr; }
}

.grid img{
  width:100%;
  aspect-ratio:1 / 1;   /* macht sie quadratisch */
  object-fit:cover;     /* kein Verzerren */
  display:block;
  transition:.4s;
}

.grid img:hover{
  transform:scale(1.03);
  opacity:.85;
}

/* ABOUT */
#about{
  padding:180px 10%;
  background:#fafafa;
}

.about-title{
  text-align:center;          /* Titel mittig */
  font-family:'Playfair Display', serif;
  letter-spacing:4px;
  margin-bottom:90px;
  maring-left:40px;
}

.about-container{
  display:flex;
  align-items:center;
  gap:405px;
  max-width:1200px;
  margin:0 auto;
}

.about-image img{
  width:380px;
  height:480px;
  object-fit:cover;
  border-radius:6px;
}

.about-text{
  flex:1;
  text-align:left;            /* Fliesstext linksbündig */
}

.about-text p{
  line-height:1.8;
  margin-bottom:20px;
  color:#444;
}

/* CONTACT */
form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input, textarea{
  padding:14px;
  border:1px solid #ddd;
}

button{
  padding:14px;
  border:none;
  background:var(--masmavi);
  color:white;
  letter-spacing:2px;
  cursor:pointer;
}

button:hover{opacity:.85}

/* FOOTER */
footer{
  text-align:center;
  padding:50px;
  font-size:13px;
  border-top:1px solid #eee;
}
